@model FlightManager.Areas.Identity.Data.Reservations

@{
    ViewData["Title"] = "Запазване на резервация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Запазване на резервация</h1>

@*<h4>Reservations</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FathersName" class="control-label"></label>
                <input asp-for="FathersName" class="form-control" />
                <span asp-validation-for="FathersName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilyName" class="control-label"></label>
                <input asp-for="FamilyName" class="form-control" />
                <span asp-validation-for="FamilyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EGN" class="control-label"></label>
                <input asp-for="EGN" class="form-control" />
                <span asp-validation-for="EGN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelephoneNumber" class="control-label"></label>
                <input asp-for="TelephoneNumber" class="form-control" />
                <span asp-validation-for="TelephoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfTicket" class="control-label"></label>
                @*<input asp-for="TypeOfTicket" class="form-control">*@
                    <select asp-for="TypeOfTicket" class="form-control">
                        <option value="Обикновен">Обикновен</option>
                        <option value="Бизнес класа">Бизнес класа</option>
                    </select>
                
                <span asp-validation-for="TypeOfTicket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Запази резервация" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><input type="button" value="Администрация на резервации" class="btn btn-info"/></a>
    @* <a asp-action="Index">Администрация на резервации</a>*@
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
