@model IEnumerable<FlightManager.Controllers.HomeController>

@{
    ViewData["Title"] = "Успешно направена резервация!";
}

<h1>Вашата резервация бе направена успешно!</h1>
<div>
    <a asp-controller="Home" asp-action="Index"><input type="button" value="Връщане към началната страница" class="btn btn-info"/></a>
    </div>