
@{
	ViewData["Title"] = "FAQ";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Често Задавани Въпроси</h1>
<h2>Добре дошли в страницата за Често Задавани Въпроси (ЧЗВ)</h2>


<p><span style='color:red'>За какво е този сайт?<o:p></o:p></span></p>
<p>Това е сайт за резервиране на полети и самолетни билети.</p>
<p><span style='color:red'>Как да се регистрирам?<o:p></o:p></span></p>
	<span style='color:red'>Как да вляза в профила си?<o:p></o:p></span>
	<span style='color:red'>Как да изтрия профила си?<o:p></o:p></span>
