@{
    ViewData["Title"] = "Добре дошли!";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в сайта за онлайн резервации на полети!</h1>
    <p>За да резервирате полет трябва да отидете в страницата резервации.</p>
</div>
